@{
    ViewBag.Title = "About";
}

<div class="about-uspage">
    <img src="~/Image/About-us.jpg"  class="about-usimg m-2" alt="About Us"/>
</div>
<div class="row">
    <div class="col-md-7">
        <h2 class="text-center text-warning text-font mt-5 p-1">Welcome to SBR</h2>
        <p class="m-1 p-2 text-font p-2">SBR Technology is a best-in-class learning solutions organization headquartered in India. We offer a wide range of courses in the area of software testing A “finishing school”i n many ways, the institute provides young job aspirants the perfect launch-pad. to build a rewarding career in the growing IT sector. We have a combined real-time industry experience the institute offers guidance to the students and mentors them to become a successful software professional.</p>
    </div>
    <div class="col-md-5">
        <img src="~/Image/welcome.jpg" class="welcome-img" />
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <img src="~/Image/Why.jpg" class="why-img m-2" />
    </div>
    <div class="col-md-7">
        <h2 class="text-center text-warning text-font mt-5 p-1">Why SBR Technology</h2>
        <p class="m-1 p-2 text-font">Team (SBR Technology) carries decades of experience complemented with proven success track record encompassing various facets of Skilling industry, including</p>
        <div class="row">
            <div class="col-md-1 text-primary display-4 text-font">01</div>
            <div class="col-md-11 why-text-align text-font">Formulating training curriculum that is constantly refined / revised to maintain sync with industry expectations</div>
        </div>
        <div class="row">
            <div class="col-md-1 text-secondary display-4 text-font">02</div>
            <div class="col-md-11 why-text-align text-font">
                Innovative training methodologies to
                ensure max skill transfer
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-warning display-4 text-font">03</div>
            <div class="col-md-11 why-text-align text-font">
                Skill centric coaching to achieve production-ready capability
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-success display-4 text-font">04</div>
            <div class="col-md-11 why-text-align text-font">
                Connecting trainees with Industry through robust placement activities
            </div>
        </div>
    </div>
</div>

    <h2 class="display-4 text-uppercase text-center text-warning mt-5">Our Team</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="~/Image/Bishnu_Photo.jpeg" class="our-team-img" />
            </div>
            <div class="col-md-7">
                <h2 class=" text-center text-primary">Founder</h2>
                <p class="m-1 p-2">
                    Mr. Bishnu Shanker is a seasoned executive leader, founder of (SBR Technology) Flagroot. Over the years Bishnu shanker has played pivotal role.
                </p>
                <p class="m-1 p-2">
                    working experience in India and overseas in IT Service Industry & responsible for global delivery. Designed & developed highly scalable enterprise applications for Game,E-Commerce & Education. Responsible for the leadership, strategic direction and operational management.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mt-5 p-2">
                <h2 class="text-center text-uppercase text-primary">co-founder</h2>
                <p class="m-1 p-2">Mr. Raju singh has first-hand experience in the various facets of IT Skill Development Sector & has closely worked with Students, Professionals & corporate. He was the Co-founder of (SBR Technology) & has been credited with leading it to the list of top 3 skill development organizations of North India.</p>
            </div>
            <div class="col-md-5">
                <img src="~/Image/Raju.jpg" class="our-team-img" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mt-5 p-2">
                <img src="~/Image/Sony.jpeg" class="our-team-img" />

            </div>
            <div class="col-md-7 mt-5 p-2">
                <h2 class="text-center text-uppercase text-primary">Director</h2>
                <p class="m-1 p-2">
                    M/s. Sony Kumari is a promoter director of (SBR Technology) and partner.experience in the skill development ecosystem and has worked closely with the student community, corporates colleges, assessment agencies & Government bodies in fulfilling organization objectives of high percentage of placements & a robust business growth.
                </p>
            </div>
        </div>
    </div>
<div class="container p-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-light display-4 text-center text-uppercase">Address</div>
                <div class="card-body">
                    <h4>F-130,4ht Flore</h4>
                    <h4>Near Saket Metro Station</h4>
                    <h4>Saket New Delhi 110030</h4>
                    <h4>India</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-light display-4 text-center text-uppercase">Fill Details</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" placeholder="Full Name"  class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="number" max="10"min="10" placeholder="Mobile Number" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="email"  placeholder="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary d-block" />
                </div>
            </div>
        </div>
    </div>
</div>