
@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="career-wrapper bg-light">
        <h1 class="text-capitalize text-center text-primary mt-3 display-4">Career</h1>
        <div class="container">
            <p class="p-2 m-2 career-text">SBR Technology is focussed towards providing the quality education. We have a pool of corporate trainers who are dedicated to their service . SBR Technology has growing career opportunities as a trainer, manager, content developer, website cum app developer, digital marketer, graphic designer, counsellor and few others. Our hand holding process in the long run makes us unique in the mind of people. We welcome good people who can join hands and move step by step in the growth of themselves, company and nation.</p>

            <div class="career-opert">
                <h2>Career Opportunities in SBR Technology:-</h2>
                <ul class="opening">
                    <li>Corporate Trainer</li>
                    <li>Digital Marketer</li>
                    <li>Website Designer</li>
                    <li>Website Developer</li>
                    <li>Graphic Designer</li>
                    <li>Software Tester</li>
                </ul>
            </div>
            <p class="mt-5">Send your resume at : <span class="text-primary">sbrtrainingandplacement@gmail.com</span> and our team will contact you shortly</p>
        </div>
    </div>