@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
            <div class="card bg-light">
                <div class="card-title display-4 text-center text-uppercase text-primary">Address</div>
                <div class="card-body">
                    <h4>F-130</h4>
                    <h4>Ladosarai</h4>
                    <h4>Saket New Delhi</h4>
                    <h4>India</h4>
                    <hr />
                    <h4>SRT-130</h4>
                    <h4>SR Nagar</h4>
                    <h4>Hyderabad</h4>
                    <h4>India</h4>
                    <hr />
                    <h4>Mobile Number:</h4>
                    <h4>(+91)-9493232942</h4>
                    <h4>(+91)-9346704198</h4>
                    <h4>Email:</h4>
                    <h4 class="text-success">sbrtrainingandplacement@gmail.com</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="card bg-light">
                <div class="card-title display-4 text-center text-uppercase text-primary">
                    Fill Ditails
                </div>
                <div class="card-body">
                    <div class="form-group p-2">
                        <input type="text" placeholder="First  Name" class="form-control" />
                    </div>
                    <div class="form-group p-2">
                        <input type="text" placeholder="Last Name" class="form-control"/>
                    </div>
                    <div class="form-group p-2">
                        <input type="number" min="10" max="10" placeholder="Mobile Number" class="form-control" />
                    </div>
                    <div class="form-group p-2">
                        <input type="email" placeholder="Email " class="form-control" />
                    </div>
                    <div class="form-group p-2">
                        <input type="text" placeholder="City" class="form-control" />
                    </div>
                    <div class="form-group p-2">
                        <textarea class="form-control" placeholder="Your Message" rows="3"></textarea>
                    </div>
                    <input type="submit" value="Submit"  class="btn btn-primary d-block p-2"/>
                </div>
            </div>
        </div>
    </div>
</div>