@{
    ViewBag.Title = "Home";
}

    <div class="">
        <div id="sbrcarousel-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/Image/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Image/blur-close-up-code-computer-546819.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Image/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
<h2 class="text-center text-uppercase text-warning display-4 p-3">Our Popular Courses</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/Image/manual-testing.png" class="couse-name" />
            <h2 class="text-center text-uppercase text-warning">Manual Testing</h2>
            <p class="p-2 m-1 courses-details">
                SBR Technology Manual Testing Training is designed to give in-depth knowledge on how to develop Test Cases and Scenarios. Our Course is designed according to the latest developments as per industry requirements and demands which enable you to learn Specification-based.
            </p>
            <span class="btn btn-outline-primary m-1">Learn More</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/Image/Seleniem.png" class="couse-name" />
            <h2 class="text-center text-uppercase text-warning">Selenium</h2>
            <p class="p-2 m-1 courses-details">
                SBR Technology Selenium training course will help you to gain an in-depth knowledge on every concept such as WebDriver, Core java,Selenium Grid, XPath, DOM, TestNG, POM, Github, Maven, Jenkins, AutoIt, Sikuli, JDBC, SQL, Data Driven Testing and Katalon Studio.
            </p>
            <span class="btn btn-outline-primary m-1">Learn More</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/Image/web-designing.png" class="couse-name" />
            <h2 class="text-center text-uppercase text-warning">Web Technology</h2>
            <p class="p-2 m-1 courses-details">
                SBR Technology provide the best web designing course in New Delhi. We make you an expert in website designing with our comprehensive web designing course at a very reasonable fee. Learning a web designing course from a reputed institute can make one brilliant in designing any kind of website.
            </p>
            <span class="btn btn-outline-primary m-1">Learn More</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/Image/java.png" />
            <h2 class="text-center text-uppercase text-warning">JAVA</h2>
            <p class="p-2 m-1 courses-details">
                SBR Technology is one of the best training centers for Core and Advance Java in Saket, New Delhi. We provide industry-based corporate training. You will get the knowledge starting from scratch to the advanced level. After the completion, of course, The Java Trainers good experience in teaching as well as working in the industry.
            </p>
            <span class="btn btn-outline-primary m-1">Learn More</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/Image/microsoft_net.png" />
            <h2 class="text-center text-uppercase text-warning">Microsoft Technology</h2>
            <p class="p-2 m-1 courses-details">
                ASP.NET training at SBR Technology is great way to learn and master the skills required to get hands on with Server Side programming. ASP.NET is a open-source server-side web application framework which help in the development of dynamic web pages. ASP.NET allows the usage of the MVC
            </p>
            <span class="btn btn-outline-primary m-1">Learn More</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/Image/SQL.png"/>
            <h2 class="text-center text-uppercase text-warning">SQL Server</h2>
            <p class="p-2 m-1 courses-details">
                SQL Server DBA (Database Administration) focuses on the admin activities associated with Database systems. While SQL and PL/SQL are purely programming interfaces to interact with the data residing in the Database, the DBA is predominantly a collection of administration activities and procedures helping the organization to retain and maintain their most important asset – data.
            </p>
            <span class="btn btn-outline-primary m-1">Learn More</span>
        </div>
    </div>
</div>